{%  extends 'base.html.twig' %}

{% block body %}

        <h2>{{ tag.name }}</h2>
    {% for article in articles %}
        <p><a href="/article/{{ article.id }}">{{ article.title }}</a></p><br>
    {% endfor %}


{% endblock %}